	<div id="footer">
		<p id="copyright">
			Based on <a href="http://packages.ubuntu.com/oneiric/pnopaste">Perl Nopaste</a> #VERSION#
			 - <a href="http://github.com/tpruvot/pnopaste">fork on github</a>
		</p>
		<p id="rendertime">
			#LANG7# #RENDERTIME# #LANG8#
		</p>
	</div>
</body>
</html>
