	<div id="footer">
		<p id="copyright">
			Perl Nopaste #VERSION# &copy; 2008-2010 by
			<a href="http://www.linux-dev.org">linux-dev.org</a>
		</p>
		<p id="rendertime">
			#LANG7# #RENDERTIME##LANG8#
		</p>
	</div>
</body>
</html>
