<div id="display_paste">
	<p id="options">
		#LANG23# <em>#DOWNLOAD#</em> #LANG24# <em>#ADD_NEW#</em>
	</p>
	<p id="time">
		#LANG25# <em>#TIME#</em>
	</p>
	<p id="expires">
		#LANG26# <em>#EXPIRES#</em>
	</p>
	<p id="from">
		#LANG27# <em>#AUTHOR#</em>
	</p>
	<p id="language">
		#LANG28# <em>#LANGUAGE#</em>
	</p>
