	<p id="description">
		#LANG12#
		<span class="description">
#DESCRIPTION#
		</span>
	</p>
	<p id="code">
		#LANG13#
	</p>
	<table id="codetable"><tr>
		<td id="linenumbers">
			<pre>
#LINENUMBERS#
</pre>
