<div id="confirmation">
	<p>
		#LANG15#
		<br />
		#LANG16# <a href="#LINKCODE#">#LINKCODE#</a>.
	</p>
	<p>
		#LANG17# #LINKCODE#<em>#lineX</em> #LANG18# <em>X</em> #LANG19#
		<br />
		#LANG20# <a href="#LINKCODE#&amp;download">#LINKCODE#&amp;download</a> (#CODESIZE# #LANG29#).
	</p>
	<p>
		#LANG21# <a href="#URLCODE#">#LANG22#</a>.
	</p>
</div>
